*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: skyblue;
}

#container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: crimson;
}